.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.default-theme{
--drk-blue: #1A202C;
--borderGrey: #5e6064;
--md-blue: #223251;
--lt-drk-blue: #16426e;
--text-grey: #A0AEC0;
--font-color: var(--white);
background-color: var(--drk-blue);
transition:all 0.3s;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #2ea0de;
  border-color: #2ea0de transparent #2ea0de transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
